body {
    margin: 0;
    padding: 0;
    background-image: url("./img/background.png");
    background-size: cover;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.contact-num {
    margin-top: 99px;
    font-size: 3em;
    color: rgba(231, 97, 34, 255);
}

.contact-address {
    margin-top: 18px;
    font-size: 1.125em;
    color: white;
}

.follow-icons {
    color: white;
    width: 41px;
    height: 41px;
    font-size: 16px;
    border-radius: 20px;
    padding-top: 9px;
    box-sizing: border-box;
    margin-right: 9px;

}

.follow-icons-area {
    display: flex;
    justify-content: center;
    margin-top: 22px;
}

.follow-icons-fb {
    background-color: #5378bc;
}

.follow-icons-twitter {
    background-color: #36d0f7;
}

.follow-icons-linkedin {
    background-color: #007ab5;
}

.follow-icons-pinterest {
    background-color: #e92a2a;
}

.form-area {
    margin: 0 auto;
    max-width: 759px;
}

.form-title {
    margin-top: 29px;
    font-size: 1.8em;
    color: rgba(231, 97, 34, 255);
}

.form-subtitle {
    margin: 23px 10px;
    font-size: 0.875em;
    color: white;
    font-style: italic;
}

.feedback-form {
    box-sizing: border-box;
    margin-top: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:30px;
}

.form-inputs-area {
    display: grid;
    grid-gap: 15px;
}

.form-textarea {
    display: grid;
}

.form-item {
    margin: 0 10px;
    padding-left: 15px;
    font-size: 0.875em;
    color: rgba(119, 119, 119, 255);
    border-radius: 4px;
    border: 0;
    box-sizing: border-box;
    outline: none;
}

.form-input-style {
    height: 45px;
}

.form-textarea-style {
    padding-top: 15px;
    resize: none;
}

.form-button {
    margin-top: 31px;
    margin-bottom: 31px;
    font-size: 1em;
    color: white;
    text-align: center;
    width: 170px;
    height: 45px;
    border-radius: 4px;
    border: 0;
    outline: none;
    background-color: #5dbdb1;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.2s;
}

.form-button:hover {
    opacity: 0.8;
    transition-duration: 0.2s;
}

a:hover {
    opacity: 0.8;
    transition-duration: 0.2s;
}

@media screen and (max-width: 800px) {
    .contact-num {
        font-size: 2em;
    }

    .form-area {
        margin: 0 auto;
        max-width: 370px;
    }

    .feedback-form {
        grid-template-columns: 1fr;
    }


}


